<ion-view view-title="Manual Record">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" ng-model="title">
      </label>
      <label class="item item-input">
        <span class="input-label">Duration (mins)</span>
        <input type="text" ng-model="duration">
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" ng-model="date">
      </label>
      <label class="item item-input">
        <span class="input-label">Time</span>
        <span>{{timeHours}}:{{timeMinutes}} {{timeAMPM}}</span>
        <button style="margin-left: 12px" ng-click="showTimeDlg()">Set Time</button>
      </label>
      <label class="item-input">
        <span class="input-label">Input Source</span>
        <!--<ion-list>-->
          <!--<ion-radio ng-model="inputSource" ng-value="'tuner'">Tuner</ion-radio>-->
          <!--<ion-radio ng-model="inputSource" ng-value="'roku'">Roku</ion-radio>-->
          <!--<ion-radio ng-model="inputSource" ng-value="'pvr'">PVR</ion-radio>-->
        <!--</ion-list>-->
      </label>
      <!--click events weren't invoked unless the following was pulled out of the label-->
      <div class="button-bar padding">
        <a grouped-radio="'tuner'" ng-model="inputSource">Tuner</a>
        <a grouped-radio="'roku'" ng-model="inputSource">Roku</a>
        <a grouped-radio="'pvr'" ng-model="inputSource">PVR</a>
      </div>
      <label class="item item-input">
        <span class="input-label">Channel</span>
        <input type="text" ng-model="channel">
      </label>
    </div>
    <button style="margin-left: 12px" ng-click="invokeManualRecord()">Set Manual Record</button>
  </ion-content>
</ion-view>
