<ion-view view-title="Manual Record">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Duration (mins)</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date">
      </label>
      <label class="item item-input">
        <span class="input-label">Time</span>
        <!--<input type="text">-->
        <button ng-click="showTimeDlg()">Set Time</button>
      </label>
      <label class="item item-input">
        <span class="input-label">Input Source</span>
        <ion-list>
          <ion-radio ng-model="inputSource" ng-value="'tuner'">Tuner</ion-radio>
          <ion-radio ng-model="inputSource" ng-value="'roku'">Roku</ion-radio>
          <ion-radio ng-model="inputSource" ng-value="'pvr'">PVR</ion-radio>
        </ion-list>
        <!--<div class="button-bar padding">-->
          <!--<a grouped-radio="'tuner'" ng-model="inputSource">Tuner</a>-->
          <!--<a grouped-radio="'roku'" ng-model="inputSource">Roku</a>-->
          <!--<a grouped-radio="'pvr'" ng-model="inputSource">PVR</a>-->
        <!--</div>-->
      </label>
      <label class="item item-input">
        <span class="input-label">Channel</span>
        <input type="text">
      </label>
    </div>
  </ion-content>
</ion-view>
