<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Recordings Tab -->
  <ion-tab title="Recordings" icon-off="ion-ios-recording-outline" icon-on="ion-ios-recording" href="#/tab/recordings">
    <ion-nav-view name="tab-recordings"></ion-nav-view>
  </ion-tab>

  <!-- Channel Guide Tab -->
  <ion-tab title="Channel Guide" icon-off="ion-grid" icon-on="ion-ios-grid-view" href="#/tab/channelguide">
    <ion-nav-view name="tab-channelguide"></ion-nav-view>
  </ion-tab>

  <!-- Scheduled Recordings Tab -->
  <ion-tab title="Scheduled" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/scheduledrecordings">
    <ion-nav-view name="tab-scheduledrecordings"></ion-nav-view>
  </ion-tab>

  <!-- Manual Record Tab -->
  <ion-tab title="Manual Record" icon-off="ion-ios-videocam-outline" icon-on="ion-ios-videocam" href="#/tab/manualrecord">
    <ion-nav-view name="tab-manualrecord"></ion-nav-view>
  </ion-tab>

  <!--&lt;!&ndash; Record Now Tab &ndash;&gt;-->
  <!--<ion-tab title="Record Now" icon-off="ion-ios-videocam-outline" icon-on="ion-ios-videocam" href="#/tab/recordnow">-->
    <!--<ion-nav-view name="tab-recordnow"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--&lt;!&ndash; Settings Tab &ndash;&gt;-->
  <!--<ion-tab title="Settings" icon-off="ion-ios-videocam-outline" icon-on="ion-ios-videocam" href="#/tab/settings">-->
    <!--<ion-nav-view name="tab-settings"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--&lt;!&ndash; Chats Tab &ndash;&gt;-->
  <!--<ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">-->
    <!--<ion-nav-view name="tab-chats"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--&lt;!&ndash; Account Tab &ndash;&gt;-->
  <!--<ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">-->
    <!--<ion-nav-view name="tab-account"></ion-nav-view>-->
  <!--</ion-tab>-->


</ion-tabs>
