<ion-view view-title="Scheduled Recordings">
  <ion-content>
    <div class="row" ng-repeat="scheduledRecording in scheduledRecordings">
      <div class="col-10">
        <button class="button icon ion-ios-trash button-clear" id='{{scheduledRecording.recordingId}}' ng-click="invokeScheduledRecordingAction(scheduledRecording.action, scheduledRecording.recordingId)"></button>
      </div>
      <div class="col col-33">{{scheduledRecording.dateTime|formatScheduledRecordingDayOfWeek}} {{scheduledRecording.dateTime|formatScheduledRecordingMonthDay}} {{scheduledRecording.dateTime|formatScheduledRecordingTimeOfDay}}</div>
      <div class="col col-20">{{scheduledRecording.stationName}} {{scheduledRecording.channel|formatScheduledRecordingChannel}}</div>
      <div class="col">{{scheduledRecording.title}}</div>
    </div>
  </ion-content>
</ion-view>
