<ion-view view-title="Scheduled Recordings">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="scheduledRecording in scheduledRecordings" class="item-icon-left">
        <button class="button icon ion-ios-trash button-clear" id='{{scheduledRecording.recordingId}}' ng-click="invokeScheduledRecordingAction(scheduledRecording.action, scheduledRecording.recordingId)"></button>
        <h2>{{scheduledRecording.title}}</h2>
        <p>{{scheduledRecording.dateTime|formatScheduledRecordingDayOfWeek}}
          {{scheduledRecording.dateTime|formatScheduledRecordingMonthDay}} {{scheduledRecording.dateTime|formatScheduledRecordingTimeOfDay}}
          , {{scheduledRecording.stationName}} {{scheduledRecording.channel|formatScheduledRecordingChannel}}
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
