<ion-view view-title="{{program.Title}}">

  <ion-nav-buttons side="right">
    <button class="button" ng-click="invokeNowPlaying()" ng-show="playbackActive">
      Now Playing
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div id="cgProgramName"></div>
    <div id="cgDateTimeInfo"></div>
    <div id="cgEpisodeTitle"></div>
    <div id="cgDescription"></div>
    <div id="cgCastMembers"></div>
    <div id="episodeInfo"></div>

    <button id="btnCancelRecording" class="button button-block button-stable" ng-show="displayCancelRecording" ng-click="invokeCancelRecording()">
      Cancel Recording
    </button>

    <button id="btnCancelSeries" class="button button-block button-stable" ng-show="displayCancelSeries" ng-click="invokeCancelSeries()">
      Cancel Series
    </button>

    <div ng-show="displayRecord || displayRecordEpisode">
      <span class="modalButton">Start Time:</span>
      <button class='button modalLeftArrow modalButton icon ion-arrow-left-c button-clear button-dark'
              ng-click="cgRecordOptionsNextEarlyStartTime()" aria-label='Left Align'></button>
      <button class='button modalButton button-clear button-dark timeOffsetLabel' id="cgRecordOptionsStartTimeLabel">{{startTime}}</button>
      <button class='button modalRightArrow modalButton icon ion-arrow-right-c button-clear button-dark'
              ng-click="cgRecordOptionsNextLateStartTime()" aria-label='Left Align'></button>
      <br/>
    </div>

    <div ng-show="displayRecord || displayRecordEpisode">
      <span class="modalButton">Stop Time:</span>
      <button class='button modalLeftArrow modalButton icon ion-arrow-left-c button-clear button-dark'
              ng-click="cgRecordOptionsNextEarlyStopTime()" aria-label='Left Align'></button>
      <button class='button modalButton button-clear button-dark timeOffsetLabel' id="cgRecordOptionsStopTimeLabel">{{stopTime}}</button>
      <button class='button modalRightArrow modalButton icon ion-arrow-right-c button-clear button-dark'
              ng-click="cgRecordOptionsNextLateStopTime()" aria-label='Left Align'></button>
      <br/>
    </div>

    <button id="btnRecord" class="button button-block button-stable" ng-show="displayRecord" ng-click="invokeRecordEpisode()">
      Record
    </button>

    <button id="btnRecordEpisode" class="button button-block button-stable" ng-show="displayRecordEpisode" ng-click="invokeRecordEpisode()">
      Record Episode
    </button>

    <button id="btnRecordSeries" class="button button-block button-stable" ng-show="displayRecordSeries" ng-click="invokeRecordSeries()">
      Record Series
    </button>

    <button id="btnViewUpcomingEpisodes" class="button button-block button-stable" ng-show="displayViewUpcomingEpisodes" ng-click="invokeViewUpcomingEpisodes()">
      View Upcoming Episodes
    </button>

    <button id="btnTune" class="button button-block button-stable" ng-show="displayTune" ng-click="invokeTune()">
      Tune
    </button>

  </ion-content>
</ion-view>
