<ion-view view-title="Recordings">

  <ion-nav-buttons side="right">
    <button class="button" ng-click="invokeNowPlaying()" ng-show="playbackActive">
      Now Playing
    </button>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher
      pulling-text="Refreshing..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list">
      <div class="item item-icon-left item-icon-right" ng-repeat="recording in recordings | orderBy:'-RecordingId':reverse" >
        <button class="button icon ion-play button-clear" ng-click="playRecordedShow(recording)"></button>
        <a href="#/tab/recordings/{{recording.RecordingId}}" style="text-decoration: none">
          <h2>{{recording.Title}}</h2>
          <p>{{recording.StartDateTime|formatStartDateTime}}, {{recording.StartDateTime|formatTimeOfDay}}</p>
        </a>
        <button class="button icon ion-close-circled button-clear" ng-click="deleteRecordedShow(recording)"></button>
      </div>
    </div>

  </ion-content>
</ion-view>
