<ion-view view-title="{{recording.Title}}">
  <ion-content class="padding">
    <p>
      Recorded on {{recording.StartDateTime|formatStartDateTime}}, {{recording.StartDateTime|formatTimeOfDay}}
    </p>
    <p>
      Duration {{recording.Duration}} minutes
    </p>
  </ion-content>

  <ion-footer-bar class="bar-stable">

  <div style="margin: 0 auto" class="buttons">
    <button ng-repeat="trickMode in trickModes"
            class="button icon {{trickMode.font}}"
            ng-click='invokeTrickMode(trickMode.command);'>
    </button>
  </div>

  </ion-footer-bar>

</ion-view>
