.centerIcon
{
  /*not sure about the hardcoded values here*/
  width: 10px;
  margin: 200px auto;

}

.dontCenterIcon {
  margin: 0px;
}

.button-bar > .button:last-child {
  border-radius: 0px 20px 20px 0px !important;
}
.button-bar > .button:first-child {
  border-radius: 20px 0px 0px 20px !important;
}

th.dayOfWeek, th.date, th.time, th.channel, th.stationName, th.title {
  width: 40px;
  font-size: 16px;
}

.cgOptionsSpan {
  width:150px;
  text-align:center;
  display:inline-block;
}

.modalLeftArrow {
  margin-left: 70px;
}

.modalRightArrow {
}

.modalButton {
  font-size: 20px;
}

#cgProgramDlg {
  margin-top: 260px;
}

#cgSeriesDlg {
  margin-top: 260px;
}

#cgProgramName {
  font-size: 16px;
  background-color: blue;
  color: white;
  margin-bottom: 0px;
}

#cgDateTimeInfo{
  font-size: 14px;
  background-color: blue;
  color: white;
}

#cgEpisodeTitle{
  font-size: 14px;
  background-color: blue;
  color: white;
}

#cgDescription {
  font-size: 14px;
  background-color: blue;
  color: white;

  /*max-width: 1780px;*/
  /*max-width: 350px;*/
  /*white-space: nowrap;*/
  /*width: 100%;*/
  /*overflow: hidden;*/
  /*-o-text-overflow: ellipsis;*/
  /*text-overflow:    ellipsis;*/
}

#cgCastMembers {
  font-size: 14px;
  background-color: blue;
  color: white;

  /*max-width: 1780px;*/
  /*max-width: 350px;*/
  /*white-space: nowrap;*/
  /*width: 100%;*/
  /*overflow: hidden;*/
  /*-o-text-overflow: ellipsis;*/
  /*text-overflow:    ellipsis;*/
}

#episodeInfo{
  font-size: 14px;
  background-color: blue;
  color: white;
}

#stationLabelDiv {
  width: 90px;
  float:left;
  overflow: hidden;
}

/* current day/date and station labels */
.cgStationLine {
  width: 90px;
  height: 40px;
  background-color: lightcyan;
  font-size: 12px;
  margin-bottom: 0px;
  border:solid;
  border-width: 1px;
  text-align: center;
  /*width: 140px;*/
  /*height: 50px;*/
  /*background-color: lightcyan;*/
  /*font-size: 18px;*/
  /*margin-bottom: 0px;*/
  /*border:solid;*/
  /*border-width: 1px;*/
  /*text-align: center;*/
}

#cgData {
  /*width: 1440px;      !* number of 30 minute blocks displayed is this number / .thirtyMinuteButton.width *!*/
  width: 240px;      /* number of 30 minute blocks displayed is this number / .thirtyMinuteButton.width */
  overflow: hidden;
  float:left;
  font-size: 14px;
}

#cgBackward {
  float:left;
  font-size: 10px;
  height: 525px;
  line-height: 525px;
}

#cgForward {
  float:left;
  font-size: 10px;
  height: 525px;
  line-height: 525px;
}

.timeLine {
  height: 40px;
  width: 50000px;
  background-color: lightblue;
  font-size: 24px;

  margin-bottom: 0px;
  border:solid;
  border-width: 1px;
}

/*timeline across the top*/
.thirtyMinuteTime {
  width: 120px;
  height: 38px;
  padding:5px 10px;
  font-size: 14px;
  display:inline-block;
  text-align: center;
  /*width: 240px;*/
  /*height: 48px;*/
  /*padding:5px 10px;*/
  /*font-size: 24px;*/
  /*display:inline-block;*/
  /*text-align: center;*/

  border:solid;
  border-right-width: 1px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width:0px;
  border-right-color: black;
  border-left-color: black;

  background-color: lightblue;
}


.cgLine {
  height: 40px;
  width: 50000px;
  background-color: coral;
}

.cgButton
{
  color: #000;
  text-decoration: none;
  border: 2px outset buttonface;
}

/*30 minute long show*/
.thirtyMinuteButton {
  display:inline-block;
  width: 120px;
  padding:5px 10px;
  font-size: 14px;
  height: 40px;
  background-color: lightcyan;
  max-width: 120px;
  max-height: 40px;

  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow:    ellipsis;
}

/*60 minute long show */
.sixtyMinuteButton {
  display:inline-block;
  width: 240px;
  padding:5px 10px;
  font-size: 14px;
  height: 40px;
  background-color: lightcyan;
  max-width: 240px;
  max-height: 40px;

  white-space: nowrap;
  width: 100%;                   /* IE6 needs any width */
  overflow: hidden;              /* "overflow" value must be different from  visible"*/
  -o-text-overflow: ellipsis;    /* Opera < 11*/
  text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}

.variableButton {
  display:inline-block;
  /*padding:5px 10px;*/
  padding:0px 0px;
  font-size: 14px;
  height: 40px;
  background-color: lightcyan;
  max-height: 40px;

  white-space: nowrap;
  width: 100%;                   /* IE6 needs any width */
  overflow: hidden;              /* "overflow" value must be different from  visible"*/
  -o-text-overflow: ellipsis;    /* Opera < 11*/
  text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}


#trickModeKeys {
  width: 50%;
  margin: 0 auto;
}

#channel {
  color: white;
  position: fixed;
  top: 50px;
  right: 10%
}


.modalLeftArrow {
  margin-left: 0px;
}

.modalRightArrow {
}

.modalButton {
  font-size: 14px;
  vertical-align: middle;
  padding: 0px;
}

.timeOffsetLabel {
  margin-left: -8px;
  margin-right: -8px;
}
